<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>244242725166-am0b83356rbr8qog9a6cob3i1mducukp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.244242725166-am0b83356rbr8qog9a6cob3i1mducukp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>244242725166-3rbu8en82dq2ufsif3n7jns74akiq9od.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC3Hhr4kffkSVZFrIV1l1xqVqYghYj-UOo</string>
	<key>GCM_SENDER_ID</key>
	<string>244242725166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.coachculture</string>
	<key>PROJECT_ID</key>
	<string>coachculture-108a2</string>
	<key>STORAGE_BUCKET</key>
	<string>coachculture-108a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:244242725166:ios:58c432e781cdb0d27e62bf</string>
	<key>DATABASE_URL</key>
	<string>https://coachculture-108a2-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>